    <h1 class="text-center">Login</h1>
        <form class="form-group" [formGroup]="form">
          <div class="form-group">
            <label for="username">User Name :</label>
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter User Name"
              name="username">
             
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter password"
              name="password">           
          </div>
          <button (click)=handleLogin() class="btn btn-success">Login</button>
        </form>
  